
/* GLOBAL  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
body {
  background-color: #080d13;
  color: rgb(226, 226, 226);
  font-family: 'Fira Code', monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(200px, 1800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  background-color: #282c66;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu ul li:hover {
  background-color: #080d1369;
}

.menu ul li a {
  display: block;
  padding: 20px;
  margin: 0 auto;
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .1em;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  padding: 5% 10% 5%;
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  grid-gap: 20px;
}


h1 {
  padding: 30px 0 80px 0;
}

.icon-planet {
  width: 7rem;
  display: inline;
}

.titulo {
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 5;
}

.planetas h2 {
  font-family: monospace;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .2em;
  margin-bottom: 1rem;
  color: rgb(128, 200, 248);
}

.planetas h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: rgb(85, 130, 255);
}

.planetas p {
  line-height: 1.2;
  margin-bottom: 1rem;
}

.planetas-lista {
  margin-top: 20px;
  width: 450px;
  height: 430px;
  overflow-y: scroll;
  grid-column: 2;
}

.planetas-lista li {
  cursor: pointer;
}

.planetas-lista::-webkit-scrollbar {
  width: 18px;
}

.planetas-lista::-webkit-scrollbar-thumb {
  background-color: rgb(153, 152, 187);
  border-left: 2px solid #080d13;
  border-right: 2px solid #080d13;
}

.planetas-lista::-webkit-scrollbar-track {
  background-color: #080d13;
}

.planetas-descricao {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-left: 12rem;
  height: 500px;
  max-height: 550px;
  min-width: 400px;
  grid-column: 3;
  overflow: auto;
  flex-wrap: wrap;
}

.planetas-descricao::-webkit-scrollbar {
  width: 18px;
}

.planetas-descricao::-webkit-scrollbar-thumb {
  background-color: rgb(153, 152, 187);
  border-left: 2px solid #080d13;
  border-right: 2px solid #080d13;
}

.planetas-descricao::-webkit-scrollbar-track {
  background-color: #080d13;
}

.planetas-descricao section {
  margin-bottom: 2rem;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-size: 1.8rem;
  font-family: monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: rgb(92, 217, 240);
}

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: rgb(85, 130, 255);
}

.faq-lista dd {
  margin-left: 30px;
  font-size: 1.2rem;
}

.mapa {
  grid-column: 2 / 4;
  max-width: 100%;
}

.dados {
  grid-column: 2;
  margin-top: 30px;
  font-size: 2rem;
}

.dados li {
  font-family: monospace;
  list-style: disc;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-style: italic;
  width: 600px;
}
[data-eclipse] {
  color: rgb(92, 217, 240);
  font-weight: bold;
}

.dados h3 {
  margin-bottom: 15px;
}

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background-color: #282c66;
}

.copy p {
  padding: 20px;
  font-family: monospace;
  font-weight: bold;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .menu, .grid-section, .copy {
    grid-column: 1;
    padding: 4%;
  }
  .menu ul li a {
    font-size: .7rem;
  }
  .planetas {
    height: 450px;
  }
  .titulo {
    margin: 0;
    padding: 0;
  }
  .planetas-descricao {
    margin: 20px 0 0 0 !important;
    padding-right: 6px;
    height: 300px;
    min-width: 120px;
    max-width: 200px;
    overflow-y: scroll;
    font-size: 10px;
    align-items: start;
  }
  .planetas h2 {
    font-family: 'Fira Code' monospace;
    font-size: 1.1rem !important;
  }
  
  .planetas h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: .7rem;
    background-color: rgb(85, 130, 255);
  }
  .icon-planet {
    width: 2rem;
  }
  .grid-section {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 5px
  }
  .planetas-lista {
    max-width: 180px;
    max-height: 160px;
  }
  .planetas-lista::-webkit-scrollbar {
    width: 10px;
  }

  .planetas-descricao::-webkit-scrollbar {
    width: 10px;
  }
  .faq-lista, .dados, .mapa {
    grid-column: 1 / 3;
  }
  .faq-lista dt {
    font-size: .9rem;
  }
  .faq-lista dd {
    font-size: .7rem;
  }
  .grid-section h1, .grid-section h2 {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0px;
  }
  .menu ul {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }  
  .menu ul li a {
    display: flex;
    padding: 20px 15px;
    margin: 0;
  }
  .numero {
    display: block;
  }
  .numero .titulo {
    margin-top: 50px;
    margin-bottom: 40px !important;
  }
  .numeros-grid h3 {
    margin-bottom: 50px !important;
  }
  .numeros-grid h3, .numeros-grid span {
    font-size: 1rem;
  }
  .mapa {
    grid-column: 1;
    margin-bottom: 30px;
  }
  .dados li {
    margin-left: 20px;
    font-size: 1rem;
    max-width: 300px;
  }
  .copy {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ------------------ */
.js [data-tab="content"] section {
  display: none;
}

.js [data-tab="content"] section.ativo {
  display: block !important;
}

.js [data-tab="content"] section.ativo.show-right {
  animation: show-right .7s forwards;
}

.js [data-tab="content"] section.ativo.show-down {
  animation: show-down .7s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* --------------------- */
.js [data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt {
  cursor: pointer;
}

[data-anime="accordion"] dt::after {
  content: '⤵';
  margin-left: 10px;
}

[data-anime="accordion"] dt.ativo::after {
  content: '⤴';
  margin-left: 10px;
}

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown .5s forwards;
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}
.js [data-anime="scroll"].ativo {
  opacity: 1;
  transition: .3s;
  transform: translate3d(0px, 0, 0);
}


@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  } 
  to {
    opacity: 1;
    max-height: 1100px;
  }
}

