.numeros-grid {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;

}

.numero .titulo {
  margin-bottom: 100px;
}

.numeros-grid h3 {
  margin-bottom: 80px;
}

.numeros-grid span {
  color: rgb(128, 200, 248);
  font-weight: bold;
}
